body{
    background-color: #4b37ff;
    width: 100%;
    font-family: "2  Karim";
}
p{
    margin: 0;
    padding: 0;
}
/*navbar*/

.row{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
.sticky{
    position: fixed;
    width:100%;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    z-index: 2;
}
ul {
    display: flex;
    font-family: "Titr";
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow:hidden;
    list-style-type: none;
}
li {
    padding: 0px 25px 0px 20px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;

}
.navbar_link{
    color: rgba(0,15,109,0.89);
    text-decoration:none;
}

.login{
    text-align: left;
    font-family: "2  Koodak";
    font-size: 20px;
}
.login-btn{
    color: green;
    border: none;
    border-radius: 10px;
    padding: 5px;
    text-decoration:none;
}
.login-icon{
    width: 28px;
    padding: 1px;
    margin: 2px 1px 2px 4px;
}
.logout_btn{
    border: none;
    border-radius: 10px;
    padding: 5px 10px 8px 10px;
    color:#860013;
    background-color: white;
    margin: 0px;
}

/*body*/

.logo{
    height: 200px;
    display:block;
    padding:0px;
    transition: transform .1s;
    width: 130px;
    margin: 0 auto;
}

.logo:hover {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.2);
}
.up{
    height: 100px;
}
.down{
    height: 50px;
}
.titr{
    color: white;
    text-align: center;
    display: block;
    margin: 0px;
    padding:0px 0px 30px 0px;
    font-size: 1rem;
    font-family: "2  Karim";
}
.title{
    color: white;
    font-family:'2  Titr';
    font-size: 3.5rem;
    text-align: center;
    display: block;
    margin: 0px;
    padding:0px 0px 20px 0px;
}
.table-row{
    padding: 50px 10px 50px 100px;
    text-align: center;
}
.col-schedule-btn{
    padding: 50px 0px 50px 100px;
}
.title1-table{
    font-family: "B Yekan";
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    margin: auto;
    padding: 0px 70px 10px 10px;
}

.title2-table{
    padding: 0;
    margin: 50px 70px 10px 0px;
    text-align: right;
}
.btn-view-table{
    color: #001eff;
    background-color: #a1ff00;
    font-family: "B Yekan" ;
    font-weight: 1000;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    box-shadow: 0px 1px 10px 1px cyan;
    margin: 15px 0px 20px 0px;

}
.btn-download-table{
    color: #001eff;
    background-color: #a1ff00;
    font-family: "B Yekan" ;
    font-weight: 1000;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    box-shadow: 0px 1px 10px 0px cyan;
    margin: 15px 0px 20px 0px;
}
.box-schedule-table{
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 1px 20px 0px #66d8ff;
}
.schedule-table{
    width: 100%;
    height: 100%;
}
.btn-view-table:hover,.btn-download-table:hover{
    background-color: #0b6100;
    color: white;
}
.line1{

    width: 45rem;
    margin: 0;
    padding: 0px 50px 0px 0px;
}
.box-title-chart{
    padding: 0px 50px 0px 50px;
}
.line2{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 0px 50px;
}
.title-chart{
    text-align: center;
    font-family: "B Yekan";
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: auto;
}
.chart{
    display: block;
    padding: 30px 70px 70px 70px;
    width: 100%;
    margin: auto;
}
.end-footer{
    display: block;
    color: #00ff25;
    font-family: "Segoe Script";
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background-color: #565656;
    width: 100%;
    height: 70px;
    padding: 20px 0px 20px 0px;
    text-shadow: 0px 10px 20px 10px #66d8ff;
}
