body{
    background-color: #bcbebf;
    width: 100%;
    font-family: "2  Karim";
}

/*navbar*/

.row{
    margin: 0px;
    padding: 0px;
    text-align: right;

}
.navbar{
    height: 60px;
    background-color: cornflowerblue;
}
ul {
    font-family: "2  Koodak";
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
li {
    display:inline-block;
    padding: 0px 25px 0px 20px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    list-style-type: none;

}
.navbar_link{
    color: #1200a1;
    text-decoration:none;
}
.login{
    text-align: left;
    font-family: "2  Koodak";
    font-size: 20px;
}
.login-btn{
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.logout_btn{
    color: greenyellow;
    background-color: unset;
    border-style: unset;
}

/*body*/

.logo{
    height: 160px;
    display:block;
    padding:0px;
    transition: transform .1s; /* Animation */
    width: 100px;
    margin: 0 auto;
}

.logo:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.2);
}
.up{
    height: 50px;
}
.down{
    height: 20px;
}
.titr{
    color: black;
    text-align: center;
    display: block;
    margin: 0px;
    padding:0px;
    font-size: 1rem;
    font-family: "2  Karim";
}
.title{
    color: black;
    font-family:'2  Jadid';
    font-size: 3.5rem;
    text-align: center;
    display: block;
    margin: 0px;
    padding:0px;
}


