html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {

    justify-content: right;
    justify-items: right;
    text-align: right;
    background: #B9D2FF;
    font-family: "2  Titr";
    font-size: 70%;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100%;
}

.navbar-user{
    background-color: #71809C;
    display: flex;
    text-align: right;
    color: white;
    font-size: 20px;!important;
    font-family: "Arial";
    margin: 0px 0px 30px 0px;
    padding: 15px 20px 15px 20px;
    letter-spacing: 2px;
}
.logout_btn{
    display: flex;
    text-align: right;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 8px 10px;
    color:#860013;
    font-family: "2  Titr";
    font-size: 18px;
    background-color: white;
    margin: 0px;
}
.username{
    display: flex;
    justify-content: right;
    padding-top: 5px;
}
h1 {
    display: block;
    font-size: 27px;!important;
    line-height: 2.35em;
    color: black;
    font-weight: bold;
    font-family: "2  Titr";
    text-shadow: 0px 1px 1px red;
    text-align: center;
    padding-top: 20px;
}

p {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.35em;
    color: #343434;
    margin-bottom: 12px;
}
.page{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    padding: 0px 10px 0px 0px;
}

/* page container */
.menu{
    background-color: rgba(0,0,0,0.39);
    border-radius: 50px;
    padding: 0px 3px 200px 5px;
    height: 100%;
    width: 20rem;
}
#wrap {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 2rem;
}
.second-btn{
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 200px;
}

/* user menu settings */
#menu-btn {
    display: block;
    padding: 15px 0px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    background: rgba(0,255,98,0.39);
    font-size: 1.55em;
    color: white;
    font-weight: normal;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#menu-btn ul {
    position: absolute;
    top: 100%;
    left: 9px;
    width: 95%;
    margin-top: 5px ;
    padding: 5px 0px;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#menu-btn ul li {
    font-size: 0.9em;
}

#menu-btn ul li a {
    text-decoration: none;
    display: block;
    color: #447dd3;
    padding: 7px 15px;
}
#menu-btn ul li a:hover {
    color: #6fa0e9;
    background: rgba(65,255,0,0.3);
}
a{
    z-index: +2;
}
/*
///////////////////*/

.manage-body{
    padding-top: 50px;
}
.table{
    font-family: "2  Mitra";
    width: 95%;
    height: 50px;
    border: black 2px;
    border-style: solid;
    font-size: 20px;

}
td,th{
    margin: 0;
    padding: 0;
    border: green 2px;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
}
.paginate{
    padding-right: 55px;
}
.form{
    width: 100%;
    padding: 9rem 15rem 0 0;
}
.text{
    color: black;
    background-color: white;
    font-size: 17px;
    width: 18rem;
    height: 50px;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-right: 20px;
    box-shadow: 0px 0px 5px 4px white;
    outline: none;
}
.submit-btn{
    font-size: 17px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #0c4128;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #0c4128;
}
